{
  "plugins": [
    [
      "import",
      [
        {
          "libraryName": "antd",
          "libraryDirectory": "lib",
          "style": true
        },
        {
          "libraryName": "antd-mobile"
        }
      ]
    ]
  ]
}
