@import "mixin";
.index {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
// banner部分
.banner {
  width: 100%;
  height: 5.15rem;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .city_select {
    position: absolute;
    top: .35rem;
    padding-left: .2rem;
    .cities {
      color: #fff;
      margin-left: -.22rem;
      text-align: center;
      line-height: .66rem;
      width: 1rem;
      background-color: rgba(0, 0, 0, 0.5);
    }
    span {
      position: relative;
      padding-right: 0.4rem;
      color: #fff;
      &::before {
        content: '';
        position: absolute;
        border: .12rem solid transparent;
        border-top: .16rem solid #fff;
        right: 0;
        top: .08rem;
      }
    }
  }
  .search {
    background-color: #fff;
    margin: 0 9%;
    border-radius: 2px;
    width: 82%;
    position: absolute;
    top: 3.6rem;
    height: .82rem;
    line-height: .82rem;
    text-align: center;
    color: grey;
    span {
      padding-left: .2rem;
      vertical-align: super;
      color: grey;
    }
  }
  .login {
    display: inline-block;
    padding: .3rem;
    position: absolute;
    top: .1rem;
    right: 0;
    img {
      width: .33rem;
      height: .4rem;
    }
  }
}

// 分类导航和广告部分
.nav {
  background-color: #fff;
  width: 100%;
  height: 1.88rem;
  padding: .4rem 0 .3rem;
  overflow: hidden;
  display: flex;
  margin-bottom: .2rem;
  li {
    flex: 1;
    height: 100%;
    text-align: center;
    img {
      height: 100%;
    }
  }
}

.poster {
  padding: .2rem .3rem;
  background-color: #fff;
  img {
    width: 100%;
  }
}

// 推荐房源轮播部分
.recommend_list {
  background-color: #fff;
  padding-bottom: .4rem;
  margin-bottom: .2rem;
  .title {
    height: 1.18rem;
    line-height: 1.18rem;
    padding: 0 .3rem;
    h3 {
      font-size: .34rem;
      font-weight: 700;
      color: #3a3b3c;
    }
    .am-icon-lg {
      width: 0.36rem;
      height: 0.45rem;
    }
    span {
      vertical-align: super;
    }
  }
  .rooms {
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none
    }
  }
  .room_list {
    width: 375%;
    .room {
      width: 4rem;
      white-space: nowrap;
      display: inline-block;
      margin: 0 .3rem;
      img {
        width: 100%;
        height: 3rem;
      }
      .room_name {
        .text-over;
        padding-top: .4rem;
        .title-text;
        color: #5a5c5d;
      }
      .price {
        .title-text;
        padding-top: .3rem;
        color: #e8323f;
      }
    }
  }
}

